<section id="root"> </section>

<script type="text/babel">
    class BookApp extends React.Component {
        // IMPORTANT: 
        // make sure book is stringified from routes.js
        // book has to be in 3 brackets
        constructor(props){
            // call the base constructor with props.
            super(props);
            this.state = { items: {{{book}}},
                            selectedItem: '',
                            showHide: 'hidden' };

            this.showDetail = this.showDetail.bind(this);
        } 

        componentDidMount() {   
            // code to execute when component first rendered to DOM
        } 

        componentWillUnmount() {
            // code to execute when component is removed from DOM
        }

        showDetail(e) {
            let onClickItem = this.state.items.find((item) => {
                return item._id == e.target.id;
            });

            this.setState({selectedItem: onClickItem});
            console.log(this.state.selectedItem);
        }

        render() {
            return (
                <div>
                    <h1>Welcome to ReactJS - Book Collection</h1>

                    <SearchBookForm/>
                    
                    <div className="grid-container">
                        <div className="grid-item">
                            <BookList 
                                items={this.state.items} 
                                showDetail={this.showDetail}
                            />
                        </div>
                        
                        <div className="grid-item">
                            <BookDetail
                                item={this.state.selectedItem}
                            />
                        </div>
                    </div>
                </div>
            );
        }
    }

    const SearchBookForm = () => {
        return (
            <div className="searchForm">
                <input type="text" placeholder="Search a Book"
                    //value={this.props.filterText}
                    //onChange={this.handleFilterTextChange}
                />
            </div>
        );
    }

    // IMPORTANT: make sure to include {} in function when passing
    // state varible from the class.
    const BookList = ({className, items, showDetail}) => {
        return (
            <div className="left">
                <h3><b>Book Inventory</b></h3>
                <ol>
                    {items.map( (item, i) => (
                        <div key={item._id}>
                            <li id={item._id}  onClick={showDetail} className="bookItem"> 
                                {item.title}
                            </li>
                        </div>
                    ))}
                </ol>
            </div>
        );
    }

    const BookDetail = ({item}) => {
        return (
            <div className="right">
                <h3><b>Book Details</b></h3>
                <div>
                    <ul>
                        <li>Title: {item.title}</li>
                        <li>Author: {item.author}</li>
                        <li>Price: ${item.price}</li>
                    </ul>
                </div>
            </div>
        );
    }

    ReactDOM.render(
        <BookApp />, document.getElementById('root') 
    );
</script>

<!-- Using REST API -->
<form action="/api/v1/add/" method="GET">
    <fieldset>
        <legend>Add or Update Book Using REST API</legend>
        <label for="title">Title: </label>
        <input type="text" id="title" name="title" required="required"/>

        <br>
        <label for="author">Author: </label>
        <input type="text" id="author" name="author" required="required"/>

        <br>
        <label for="price">Price: </label>
        <input type="text" id="price" name="price" required="required"/>

        <br>
        <button type="submit">Submit</button>
    </fieldset>
</form>